q1: 
ineroun 
ineroun ineroun
ineroun ineroun ineroun
ineroun ineroun ineroun ineroun

In [2]:
n=5
for i in range(n):
    for j in range(i):
        print("ineroun", end=" ")
    print("\r")

ineroun
ineroun ineroun
ineroun ineroun ineroun
ineroun ineroun ineroun ineroun

q2:
            ineroun
        ineroun   ineroun
    ineroun  ineroun  ineroun
        ineroun   ineroun
            ineroun

In [119]:
n=l=5
m=n*2
for i in range(m):
    if i <= m//2:
        for j in range(n,0,-1):
            print("    ",end="")
        for j in range(-1,i):
            print("ineroun", end=" ")
        print("\r")
        n=n-1
else:
    for k in range(l):
        for j in range(0,k+1):
            print("    ",end="")
        for j in range(l,0,-1):
            print("ineroun",end=" ")
        l=l-1
        print("\r")

                    ineroun
                ineroun ineroun
            ineroun ineroun ineroun
        ineroun ineroun ineroun ineroun
    ineroun ineroun ineroun ineroun ineroun
ineroun ineroun ineroun ineroun ineroun ineroun
    ineroun ineroun ineroun ineroun ineroun
        ineroun ineroun ineroun ineroun
            ineroun ineroun ineroun
                ineroun ineroun
                    ineroun

In [240]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7), set ([23,4,5,45,4,4,5,45,45,4,5]),{'k1' : "sudh","k2": "ineuron","k3": "kumar",3:6,7:8},["ineuron", "data science"]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

q3: Try to exttract all the list entity

In [141]:
l3=[]
for i in range(len(l)):
    if type(l[i])==list:
        l3.append(l[i])
l3

[[1, 2, 3, 4], ['ineuron', 'data science']]

q4: Try to extract all the dict enteties

In [145]:
l4=[]
for i in range(len(l)):
    if type(l[i])==dict:
        l4.append(l[i])
l4

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

q5: Try to extract all the tuples enteties

In [147]:
l5=[]
for i in range(len(l)):
    if type(l[i])==tuple:
        l5.append(l[i])
l5

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

q6: Try to extract all the numerical data it may be a part of dict key and values

In [249]:
l6=[]
for i in range(len(l)):
    if type(l[i])==dict:
        for j,k in l[i].items():
            if type(j)== int:
                l6.append(j)
            if type(k)== int:
                l6.append(k)
    elif type(l[i])==list:
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                l6.append(l[i][j])
    elif type(l[i])==tuple:
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                l6.append(l[i][j])
    elif type(l[i])==set:
        t=list(l[i])
        for j in range(len(t)):
            if type(t[j]) == int:
                l6.append(t[j])
        l[i]=set(t)
l6

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 3, 6, 7, 8]

q7: Try to given summation of all the numeri data

In [250]:
l7=sum(l6)
l7

156

q8: Try to filter out all the odd values out all numeric data which is a part of a list

In [251]:
l8=[]
for i in range(len(l6)):
    if (l6[i] % 2) != 0:
        l8.append(l6[i])
l8

[1, 3, 3, 5, 3, 5, 7, 5, 45, 23, 3, 7]

q9: Try to extract "ineroun" out of this data

In [247]:
l9=[]
for i in range(len(l)):
    if type(l[i])==dict:
        for j,k in l[i].items():
            if j== "ineuron":
                l9.append(j)
            if k== "ineuron":
                l9.append(k)
    elif type(l[i])==list:
        for j in range(len(l[i])):
            if l[i][j] == "ineuron":
                l9.append(l[i][j])
    elif type(l[i])==tuple:
        for j in range(len(l[i])):
            if l[i][j] == "ineuron":
                l9.append(l[i][j])
    elif type(l[i])==set:
        t=list(l[i])
        for j in range(len(t)):
            if t[j] == "ineuron":
                l9.append(t[j])
        l[i]=set(t)
l9

['ineuron', 'ineuron']

q10: Try to find out a number of occurances of all the data

In [252]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [297]:
a=[]
b=[]
for i in range(len(l)):
    if type(l[i]) != dict:
        a.append(list(l[i]))
    else:
        for k,v in l[i].items():
                b.append(k)
                b.append(v)
a.append(b)
a
c = []

for i in range(len(a)):
    for j in range(len(a[i])):
        c.append(a[i][j])


print(c)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

q11: Try to find out number of keys in dict element

In [319]:
print(l)

[[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {5, 4, 45, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'data science']]

In [298]:
l11=[]
for i in range(len(l)):
    if type(l[i])==dict:
        for k,v in l[i].items():
            if type(k) == int:
                l11.append(k)
l11

[3, 7]

q12: Try to filter out all the string data

In [299]:
l12=[]
for i in range(len(l)):
    if type(l[i])==dict:
        for j,k in l[i].items():
            if type(j)== str:
                l12.append(j)
            if type(k)== str:
                l12.append(k)
    elif type(l[i])==list:
        for j in range(len(l[i])):
            if type(l[i][j]) == str:
                l12.append(l[i][j])
    elif type(l[i])==tuple:
        for j in range(len(l[i])):
            if type(l[i][j]) == str:
                l12.append(l[i][j])
    elif type(l[i])==set:
        t=list(l[i])
        for j in range(len(t)):
            if type(t[j]) == str:
                l12.append(t[j])
        l[i]=set(t)
l12

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

q13: Try to find out alphanum in data

In [317]:
print(c)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

In [320]:
c=[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]
l13=[]
for i in range(len(c)):
    if type(c[i]) == str:
        if c[i].isalnum() == True:
            l13.append(c[i])
l13

['ineuron', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar']

q14: Try to find out multiplication of all numeric value in the individual collection inside dataset

In [321]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [349]:
nl=[]
for i in range(len(l)):
    if type(l[i])==dict:
        d=list(l[i])
        for j in l[i]:
            d.append(l[4][j])
    else:
        nl.append(list(l[i]))
nl.append(d)
nl

[[1, 2, 3, 4],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [45, 4, 5, 23],
 ['ineuron', 'data science'],
 ['k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8]]

In [358]:
import numpy
nl0,nl1,nl2,nl3 = numpy.prod(nl[0]),numpy.prod(nl[1]),numpy.prod(nl[2]),numpy.prod(nl[3])
print(nl0,nl1,nl2,nl3)

24 720 2520 20700

q15: Try to unwrape all the collection inside collection and create a flat list

In [359]:
q15=[]
for i in range(len(l)):
    if type(l[i])==dict:
        d=list(l[i])
        for j in l[i]:
            d.append(l[4][j])
    else:
        q15.append(list(l[i]))
q15.append(d)
q15

[[1, 2, 3, 4],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [45, 4, 5, 23],
 ['ineuron', 'data science'],
 ['k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8]]